{
	admin off

	tailscale {
		control_url {$HEADSCALE}
		state_dir /data/tailscale
	}

	pki {
		ca local {
			root {
				cert /ca.crt
				key /ca.key
			}
		}
	}

	local_certs
	skip_install_trust
}

(bind) {
	bind tailscale/bunny
}

(connect) {
	reverse_proxy localhost:12345 {
		header_up +to {args[0]}
	}
}

################################################################################

drasl.bunny {
	import bind
	reverse_proxy drasl:8080
}

################################################################################

git.bunny:22 {
	import bind
	import connect forgejo:2222
}

git.bunny {
	import bind
	reverse_proxy forgejo:8080
}

################################################################################

img.bunny {
	import bind
	reverse_proxy immich:8080
}

################################################################################

pin.bunny {
	import bind
	reverse_proxy pinlist:8080
}

################################################################################

pr-tracker.bunny {
	import bind
	reverse_proxy pr-tracker:8081
}

################################################################################

rd.bunny {
	import bind
	reverse_proxy rustdesk:21114
}

################################################################################

searx.bunny {
	import bind

	respond /opensearch.xml <<EOF
		<?xml version="1.0" encoding="utf-8"?>
		<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/" xmlns:moz="http://www.mozilla.org/2006/browser/search/">
		  <ShortName>SearXNG</ShortName>
		  <LongName>SearXNG metasearch</LongName>
		  <Description>SearXNG is a metasearch engine that respects your privacy.</Description>
		  <InputEncoding>UTF-8</InputEncoding>
		  <Image type="image/png">https://searx.bunny/static/themes/simple/img/favicon.png</Image>
		  <Url rel="results" type="text/html" method="POST" template="https://searx.bunny/search">
		    <Param name="q" value="{searchTerms}" />
		  </Url>
		  <Url rel="self" type="application/opensearchdescription+xml"  method="POST" template="https://searx.bunny/opensearch.xml" />
		  <Query role="example" searchTerms="SearXNG" />
		  <moz:SearchForm>https://searx.bunny/search</moz:SearchForm>
		</OpenSearchDescription>
		EOF 200

	reverse_proxy searxng:8081
}

################################################################################

sync.bunny {
	import bind
	reverse_proxy syncthing:8080
}

################################################################################

vencloud.bunny {
	import bind
	header ?Access-Control-Allow-Origin *
	reverse_proxy vencloud:8080
}

################################################################################

vw.bunny {
	import bind

	reverse_proxy vaultwarden:8080 {
		header_up X-Real-IP {remote_host}
	}
}
