[SMTP-2465]
server_address = smtp.gmail.com
server_port = 465
local_address = 0.0.0.0

[11213kbm@gmail.com]
permission_url = https://accounts.google.com/o/oauth2/auth
token_url = https://oauth2.googleapis.com/token
oauth2_scope = https://mail.google.com/
redirect_uri = https://emailproxy.eleonora.gay
redirect_listen_address = http://0.0.0.0:8080
client_id = $CLIENT_ID
client_secret = $CLIENT_SECRET
