{
	admin off

	http_port 8000
	https_port 4430

	log {
		format console
		level ERROR
	}
}

(default) {
	header {
		Alt-Svc `h3=":443"; ma=2592000`

		X-Clacks-Overhead "GNU Terry Pratchett"

		##### https://github.com/searxng/searxng-docker/blob/master/Caddyfile

		# Enable HTTP Strict Transport Security (HSTS) to force clients to always connect via HTTPS
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

		# Enable cross-site filter (XSS) and tell browser to block detected attacks
		X-XSS-Protection "1; mode=block"

		# Prevent some browsers from MIME-sniffing a response away from the declared Content-Type
		X-Content-Type-Options "nosniff"

		# Disable some features, disable FLoC tracking
		Permissions-Policy "accelerometer=(),ambient-light-sensor=(),autoplay=(),camera=(),encrypted-media=(),focus-without-user-activation=(),geolocation=(),gyroscope=(),magnetometer=(),microphone=(),midi=(),payment=(),picture-in-picture=(),speaker=(),sync-xhr=(),usb=(),vr=(),interest-cohort=()"

		# Disable some features (legacy)
		Feature-Policy "accelerometer 'none';ambient-light-sensor 'none'; autoplay 'none';camera 'none';encrypted-media 'none';focus-without-user-activation 'none'; geolocation 'none';gyroscope 'none';magnetometer 'none';microphone 'none';midi 'none';payment 'none';picture-in-picture 'none'; speaker 'none';sync-xhr 'none';usb 'none';vr 'none'"

		# Referer
		Referrer-Policy "no-referrer"

		# X-Robots-Tag
		X-Robots-Tag "noindex, noarchive, nofollow"

		# Remove Server header
		-Server

		########################################

		Content-Security-Policy "frame-ancestors 'self'"

		# clickjacking protection
		X-Frame-Options DENY
	}

	log {
		format console
		level ERROR
	}
}

(auth) {
	forward_auth authelia:8080 {
		uri /api/authz/forward-auth
		copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
	}
}

{$DOMAIN} {
	import default

	##### synapse #####
	header /.well-known/matrix/* Content-Type application/json
	header /.well-known/matrix/* Access-Control-Allow-Origin *
	respond /.well-known/matrix/server `{"m.server": "matrix.{$DOMAIN}:443"}`
	respond /.well-known/matrix/client `{"m.homeserver":{"base_url":"https://matrix.{$DOMAIN}"}}`

	##### homepage #####
	root * /srv/homepage
	file_server

	##### funny cat :3 #####
	handle_errors {
		rewrite * /{err.status_code}
		reverse_proxy https://http.cat {
			header_up Host {upstream_hostport}
			replace_status {err.status_code}
		}
	}
}

attic.{$DOMAIN} {
	import default
	reverse_proxy attic:8080
}

auth.{$DOMAIN} {
	import default
	reverse_proxy authelia:8080
}

avh.{$DOMAIN} {
	import default
	import auth
	reverse_proxy avh:8080
}

element.{$DOMAIN} {
	import default
	root * /srv/element
	file_server
}

img.{$DOMAIN} {
	import default
	reverse_proxy photoview:4001
}

matrix.{$DOMAIN} {
	import default
	reverse_proxy /_matrix/* synapse:8080
	reverse_proxy /_synapse/client/* synapse:8080
}

pin.{$DOMAIN} {
	import default
	import auth
	reverse_proxy pinlist:8080
}

rd.{$DOMAIN} {
	import default
	header Content-Type text/html
	respond <<HTML
	<!DOCTYPE html>
	<html>
	  <head>
	    <meta http-equiv='refresh' content='0; URL=https://{$DOMAIN}/foo/rustdesk--9JSPRRmaX1merRHZIpUSLlXbTx0QS1GMTZlMSdFSCBjYJd0NMRGTEl1csBDaEJiOikXZrJCLiIiOikGchJCLiIiOikXYsVmciwiI5F2ZuEmcv52blxWZiojI0N3boJye--.exe'>
	  </head>
	</html>
	HTML 200
}

searx.{$DOMAIN} {
	import default
	reverse_proxy searxng:8888 {
		header_up X-Forwarded-Port {http.request.port}
		header_up X-Real-IP {remote_host}
	}
}

st.{$DOMAIN} {
	import default
	import auth
	reverse_proxy syncthing:8080
}

vw.{$DOMAIN} {
	import default
	reverse_proxy vaultwarden:8080 {
		header_up X-Real-IP {remote_host}
	}
}

www.{$DOMAIN} {
	redir https://{$DOMAIN}
}
