{
	admin off

	http_port 8080
	https_port 8443

	log {
		format console
		level ERROR
	}
}

(default) {
	header {
		Alt-Svc `h3=":443"; ma=2592000`

		X-Clacks-Overhead "GNU Terry Pratchett"

		##### https://github.com/searxng/searxng-docker/blob/master/Caddyfile

		# Enable HTTP Strict Transport Security (HSTS) to force clients to always connect via HTTPS
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

		# Enable cross-site filter (XSS) and tell browser to block detected attacks
		X-XSS-Protection "1; mode=block"

		# Prevent some browsers from MIME-sniffing a response away from the declared Content-Type
		X-Content-Type-Options "nosniff"

		# Disable some features, disable FLoC tracking
		Permissions-Policy "accelerometer=(),ambient-light-sensor=(),autoplay=(),camera=(),encrypted-media=(),focus-without-user-activation=(),geolocation=(),gyroscope=(),magnetometer=(),microphone=(),midi=(),payment=(),picture-in-picture=(),speaker=(),sync-xhr=(),usb=(),vr=(),interest-cohort=()"

		# Disable some features (legacy)
		Feature-Policy "accelerometer 'none';ambient-light-sensor 'none'; autoplay 'none';camera 'none';encrypted-media 'none';focus-without-user-activation 'none'; geolocation 'none';gyroscope 'none';magnetometer 'none';microphone 'none';midi 'none';payment 'none';picture-in-picture 'none'; speaker 'none';sync-xhr 'none';usb 'none';vr 'none'"

		# Referer
		Referrer-Policy "no-referrer"

		# X-Robots-Tag
		X-Robots-Tag "noindex, noarchive, nofollow"

		# Remove Server header
		-Server

		########################################

		Content-Security-Policy "frame-ancestors 'self'"

		# clickjacking protection
		X-Frame-Options DENY
	}

	log {
		format console
		level ERROR
	}
}
