<!DOCTYPE html>
<html lang="en-US" prefix="og: https://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{.Title}}</title>

    <meta property="og:title" content="Eleonora's homepage">
    <meta property="og:site_name" content="Eleonora's homepage">
    <meta property="og:url" content="https://eleonora.gay">
    <meta property="og:description" content="Welcome to my website!">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://eleonora.gay/profile.jpg">

    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="terminal" class="mobile-v-box">
{{.Body}}
    </div>
    <script src="/typeIndex.js"></script>
    <script src="/oneko.js"></script>
  </body>
</html>
