{
	http_port 8080
	https_port 8443

	local_certs
	skip_install_trust

	pki {
		ca local {
			root {
				cert /ca.crt
				key /ca.key
			}
		}
	}
}

##### grimmory #####

books.laniakea {
	reverse_proxy grimmory:8080
}

##### papra #####

doc.laniakea {
	reverse_proxy papra:8080
}

##### qbittorrent #####

qbit.laniakea {
	# connect to socket activation proxy on host
	reverse_proxy unix//caddy/qbittorrent.sock
}

##### syncthing #####

sync.laniakea {
	reverse_proxy host.containers.internal:8384
}
